:root {
  --primary-color: #3b82f6;
  --primary-color-hover: #145fd8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

label {
  display: block;
}

input {
  display: block;
  margin: 0.8rem 0;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

button {
  cursor: pointer;
  margin: 0.7rem 0;
  padding: 0.7rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
  border: none;
}

button:hover {
  background-color: var(--primary-color-hover);
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* Lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0;
}
